Instructions

Read the three files into python as dataframes

Show the DataFrame's shape.

Standardize header names.

Rearrange the columns in the dataframe as needed

Concatenate the three dataframes

Which columns are numerical?

Which columns are categorical?

Understand the meaning of all columns

Perform the data cleaning operations mentioned so far in class
Delete the column education and the number of open complaints from the dataframe.

Correct the values in the column customer lifetime value. They are given as a percent, 
  so multiply them by 100 and change dtype to numerical type.

Check for duplicate rows in the data and remove if any.

Filter out the data for customers who have an income of 0 or less

In [1]:
import pandas as pd

In [2]:
# Read the three files into python as dataframes
file1 = pd.read_csv("file1.csv")
file2 = pd.read_csv("file2.csv")
file3 = pd.read_csv("file3.csv")

In [3]:
# Show the DataFrame's shape.
display(file1.shape)
display(file2.shape)
display(file3.shape)

(4008, 11)

(996, 11)

(7070, 11)

In [4]:
#Standardize header names.
file1.columns = file1.columns.str.lower().str.replace(" ","_")
file2.columns = file2.columns.str.lower().str.replace(" ","_")
file3.columns = file3.columns.str.lower().str.replace(" ","_")
file1.rename(columns = {"st" : "state"}, inplace=True)
file2.rename(columns = {"st" : "state"}, inplace=True)

In [5]:
#Rearrange the columns in the dataframe as needed
names = list(file1.columns)
file2 = file2[list(file1.columns)]
file3 = file3[list(file1.columns)]
print((list(file1.columns) == list(file2.columns)) and (list(file2.columns) == list(file3.columns)))

True

In [6]:
# Concatenate the three dataframes
files_added = pd.concat([file1,file2, file3], axis = 0, ignore_index=True)
files_added.head()
display(files_added.columns)
print(files_added.shape[0] == file1.shape[0] + file2.shape[0] + file3.shape[0])

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

True

In [7]:
# Which columns are numerical?
display(list(files_added.select_dtypes("number").columns))

['income', 'monthly_premium_auto', 'total_claim_amount']

In [8]:
# Which columns are categorical?
display(list(files_added.select_dtypes("object").columns))

['customer',
 'state',
 'gender',
 'education',
 'customer_lifetime_value',
 'number_of_open_complaints',
 'policy_type',
 'vehicle_class']

In [9]:
# Delete the column education and the number of open complaints from the dataframe.
files_added.drop(columns = ["education" , "number_of_open_complaints"], inplace=True)
files_added.head()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [24]:
#Correct the values in the column customer lifetime value. 
#They are given as a percent, so multiply them by 100 and change dtype to numerical type.
def corrector(column_value):
    if not isinstance(column_value, float): 
        column_value = column_value.replace("%", "")
        column_value = float(column_value)*100
    return column_value

files_added1 = files_added.copy()
files_added1.customer_lifetime_value = list(map(corrector, files_added1.customer_lifetime_value))
files_added1.customer_lifetime_value = files_added1.customer_lifetime_value.astype(float)
#files_added1['customer_lifetime_value'] = pd.to_numeric(files_added1['customer_lifetime_value'],errors='coerce')
display(files_added1.head())
display(list(files_added.select_dtypes("number").columns))
display(files_added1.shape)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

['income', 'monthly_premium_auto', 'total_claim_amount']

(12074, 9)

In [25]:
#Check for duplicate rows in the data and remove if any.
files_added1.drop_duplicates()
display(files_added1.head())
display(files_added1.shape)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

(12074, 9)

In [35]:
# Filter out the data for customers who have an income of 0 or less
filtered = files_added1[files_added1["income"] <= 0]
filtered_rows = list(filtered.index)
files_filtered  = files_added1.drop(filtered_rows, inplace= False)
display(files_filtered)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
2,AI49188,Nevada,F,1.288743e+08,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,5.363076e+07,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8.256298e+07,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5.380899e+07,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,2.412750e+08,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
12067,TF56202,California,M,5.032165e+03,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,California,F,4.100399e+03,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,California,M,2.340599e+04,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3.096511e+03,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12072,UP19263,California,M,7.524442e+03,21941.0,96.0,Personal Auto,Four-Door Car,691.200000